
<%= render 'pages/nav_home'%>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Sign in to Dog-App</h1>
        </div>
        <div class="card-body"> 
            <%= form_for(:session, url: login_path)  do |f| %>
        <div class="input-group mt-3 mb-3">
        <span class="input-group-prepend input-group-text"><i class="fas fa-dog"></i></span>
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Dog Name" %>
        </div>

        <div class="input-group mt-3 mb-3">
        <span class="input-group-prepend input-group-text"><i class="fas fa-key"></i></span>
          <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
        </div>
        </div>
        <div class="card-footer">
        <div class="actions">
          <%= f.submit "Login",class: "btn btn-primary btn-block btn-lg" %>
        </div>
      <% end %>
        </div> 
        </div>
             
    </div>
  </div>
</div>